@using LitePatch.Services.Interfaces
@inherits LayoutComponentBase

<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider IsDarkMode="true"/>


<MudLayout>
    <MudPaper Elevation="0" Class="vh-100 vw-100 mw-100 mh-100 overflow-hidden" Square="true">
        <MainAppBar/>
        <MudMainContent>
            <div class="h-100 w-100 mw-100 mh-100 d-flex flex-column overflow-hidden">
                <SubAppBar/>
                <div class="p-3 h-100 w-100 mw-100 mh-100 overflow-scroll">
                    @Body
                </div>
            </div>
        </MudMainContent>
    </MudPaper>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>